<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="layout::cssAll"></th:block>
</head>
<body>
<header th:replace="layout::topBar"></header>

<div>
    <div id="layoutSidenav">
        <div th:replace="layout::sidebar"></div>
        <div id="layoutSidenav_content">

            <main>
                <form id="myform">

                    <button type="button" class="btn btn-dark pr-5 pl-5 ml-3 mt-3 mb-3" data-toggle="modal" data-target="#exampleModal" style="border-radius: 0" onclick="phongban.addNew()">Tạo phòng ban</button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" th:name="exampleModalLabel"></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <input hidden name="id" id="id" >
                                    <div class="form-group">
                                        <label  class="col-form-label">Tên phòng ban</label>
                                        <input id="tenPB" type="text" class="form-control">
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                    <button type="button" onclick="phongban.save()" class="btn btn-primary" id="modal-form-1"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="f as fa-table mr-1"></i>
                        Thông báo
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Tên phòng ban</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody id="tBody">
                                <!-- Modal HTML -->

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<footer th:replace="layout::bottomBar"></footer>


<th:block th:replace="layout::jsAll"></th:block>
<script type="text/javascript" th:src="@{/js/phongban.js}"></script>

</body>

</html>