<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="layout::cssAll"></th:block>

</head>
<body>
<header th:replace="layout::topBar"></header>

<div>
    <div id="layoutSidenav">
        <div th:replace="layout::sidebar"></div>
        <div id="layoutSidenav_content">

            <main class="container">
                <form class="container-form" id="myform" name="myform">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="f as fa-table mr-1"></i>
                            Thông báo
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Công Việc</th>
                                        <th>Ngày bắt đầu</th>
                                        <th>Ngày hoàn thành</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tBody">
                                    <!-- Modal HTML -->

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </main>
        </div>
    </div>
</div>

<footer th:replace="layout::bottomBar"></footer>


<th:block th:replace="layout::jsAll"></th:block>
</body>

</html>